<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <app-pais-input (onEnterx)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar capital..."></app-pais-input>
  </div>
</div>

<hr>

<div class="alert alert-danger" *ngIf="hayError">
  No se encontro informacion con el termino: <strong>{{termino}}</strong>...!!!
</div>

<div class="row" *ngIf="paises.length>0">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
<!--<li *ngFor="let p of pais$ |async">{{p.name}}</li>-->

